@import 'tailwindcss';
@source "../..";
@source "../../components";

@font-face {
  font-family: SpaceGrotesk;
  src: url('../fonts/space-grotesk/SpaceGrotesk-Regular.woff2') format('woff2');
}

@font-face {
  font-family: SpaceMono;
  src: url('../fonts/space-mono/SpaceMono-Regular.WOFF') format('woff');
}
